body{
    margin: 0;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
h2{
    margin: 10px 0;
}
form{
    margin: 0;
    padding: 0;
}
input{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.line{
    display: flex;
    margin: 0;
    padding: 0;
}
.input{
    width: 31%;
    margin: 1%;
    padding: 0;
}


@media screen and (max-width: 480px){
    .mainpage{
        width: 100%;
        margin: 0;
    }

    /*标题部分开始*/
    #maintitle{
        width: 100%;
        font-size: large;
    }
    #sectitle{
        width: 100%;
        font-size: small;
    }
    h2{
        margin: 0;
    }
    /*标题部分结束*/

    /*表单部分开始*/
    .formdiv,.button{
        margin-top: 15px;
        text-align: center;
    }

    input{
        height: 2em;
        font-size: 2em;
    }
    .submit,.reset{
        width: 40%;
        height: 48px;
        margin: 0 3%;
        font-size: 1.2em;
    }
    /*表单部分结束*/
}

@media screen and (min-width: 481px) and (max-width: 960px){
    .mainpage{
        width: 481px;
        margin-left: auto;
        margin-right: auto;
    }
    /*标题部分开始*/
    #maintitle,#sectitle{
        width: 48%;
        padding: 0 1%;
        font-size: larger;
    }
    #maintitle{
        text-align: right;
    }
    #sectitle{
        text-align: left;
    }
    /*标题部分结束*/

    /*表单部分开始*/
    .formdiv,.button{
        text-align: center;
    }

    input{
        height: 2em;
        font-size: 2em;
    }
    .submit,.reset{
        width: 40%;
        height: 48px;
        margin: 3%;
        font-size: 1.2em;
    }
    /*表单部分结束*/
}

@media screen and (min-width: 961px){
    .mainpage{
        width: 541px;
        margin-left: auto;
        margin-right: auto;
    }
    /*标题部分开始*/
    #maintitle,#sectitle{
        width: 48%;
        padding: 0 1%;
        font-size: larger;
    }
    #maintitle{
        text-align: right;
    }
    #sectitle{
        text-align: left;
    }
    /*标题部分结束*/

    /*表单部分开始*/
    form{
        display: flex;
    }
    .formdiv{
        width: 75%;
    }
    .button{
        width: 25%;
    }

    input{
        height: 40px;
        font-size: 1.5em;
    }
    .submit,.reset{
        width: 94%;
        height: 44px;
        margin: 3%;
        border-width: 2px;
        font-size: 1em;
    }
    /*表单部分结束*/
}