html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url("geometry2.png");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 300;
}

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

#maintitle {
    width: 100%;
}

#sectitle {
    width: 100%;
    margin: 2px 0;
    font-size: x-large;
}

.deck {
    width: 500px;
    height: 520px;
    background: linear-gradient(160deg, #e3e3e3 0%, #ebebeb 100%);
    padding: 35px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px;
}

.deck .box {
    height: 120px;
    width: 120px;
    background: #f9f9f9;
    border-style: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    text-align: center;
    font-size: 2em;
}

.deck input:focus {
    border: solid #02b3e4;
}

.button {
    text-align: center;
}

.lucky, .submit, .reset {
    height: 48px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.lucky {
    background-color: #67e401;
    color: #ffffff;
}

.submit {
    display: none;
    background-color: #02b3e4;
    color: #ffffff;
}

.reset {
    background-color: #e7e7e7;
    color: #000000;
}

@media screen and (max-width: 540px) {
    .deck {
        width: 96%;
        height: auto;
        padding: 5%;
        margin: 2%;
    }

    .deck .box {
        height: 3em;
        width: 27.33%;
        margin: 3%;
        font-size: 1.4em;
    }

    .button {
        margin-top: 10px;
    }

    .lucky, .reset {
        width: 40%;
        margin: 3%;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 540px) and (max-width: 1080px) {
    .lucky, .reset {
        width: 40%;
        margin: 3%;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1080px) {
    form {
        display: flex;
    }

    .button {
        width: 120px;
        height: 160px;
        margin: 32px 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .submit {
        display: inline;
    }

    .lucky, .submit, .reset {
        width: 100%;
        border-width: 2px;
        font-size: 1em;
    }

    .submit span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .submit span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .submit:hover span {
        padding-right: 25px;
    }

    .submit:hover span:after {
        opacity: 1;
        right: 0;
    }
}