<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>最终幻想14 - 仙人微彩计算器</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <script src="{{url_for('static',filename='check.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div class="mainpage">
    <div class="title">
        <div id="maintitle"><h2>最终幻想14</h2></div>
        <div id="sectitle"><h2>仙人微彩计算器</h2></div>
    </div>
    <form name="myform" action="#" onsubmit="return check()" method="post">
        <div class="formdiv">
            <div class="line">
                <div class="input"><input type="number" name="pos1" id="pos1" title="左上"></div>
                <div class="input"><input type="number" name="pos2" id="pos2" title="中上"></div>
                <div class="input"><input type="number" name="pos3" id="pos3" title="右上"></div>
            </div>
            <div class="line">
                <div class="input"><input type="number" name="pos4" id="pos4" title="左中"></div>
                <div class="input"><input type="number" name="pos5" id="pos5" title="中"></div>
                <div class="input"><input type="number" name="pos6" id="pos6" title="右中"></div>
            </div>
            <div class="line">
                <div class="input"><input type="number" name="pos7" id="pos7" title="左下"></div>
                <div class="input"><input type="number" name="pos8" id="pos8" title="中下"></div>
                <div class="input"><input type="number" name="pos9" id="pos9" title="右下"></div>
            </div>
        </div>
        <div class="button">
            <input type="submit" class="submit" title="提交">
            <input type="reset" class="reset" title="重置">
        </div>
    </form>
    <div id="ans">
        {%if bestline%}
        <p>最佳行：{{bestline}}</p>
        {%endif%}
        {%if maxmoney%}
        <p>最大可能性：{{maxmoney|safe}}</p>
        {%endif%}
    </div>
</div>
</body>
</html>